@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightpink;
}

h2 {
    font-family: 'Galaxie', Helvetica, Roboto, Arial, sans-serif;
    color: #0f6674;
}

.progsize {
    width: 250px;
    height: 850px;
}

.retour {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

$theme-colors: (
        "primary": #61affc,
        "secondary": #fcb161
);

$theme-colors : ( "custom-color" : #000000 );
$theme-colors : ( "custom-color" : #FFFFFF );
