@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightblue;
}

$theme-colors: (
        "primary": #61affc,
        "secondary": #fcb161
);

$theme-colors : ( "custom-color" : #000000 );
$theme-colors : ( "custom-color" : #FFFFFF );
